x-environment:
  &x-environment
  INITIAL: "${INITIAL:-0}"

services:
  web:
    build:
      context: .
      target: prod
    extra_hosts:
      - host.docker.internal:host-gateway

    command: gunicorn core.wsgi:application -w 2 -b :8000
    ports:
      - "8000:8000"
    volumes:
      - ./db/:/app/db/
