{% load i18n %}
{% if not data.has_missing_users and not data.has_existing_member_subscriptions %}
    <a href="{% url 'csv_import_step' step=3 %}" class="inline-block m-2 px-4 py-2 bg-gray-500 hover:bg-gray-600 text-white rounded-lg transition">
    {% if is_last_step %}
        {% translate 'cta.import' %}
    {% else %}
        {% translate 'Next' %} {{ ">>" }}
    {% endif %}
    </a>
{% else %}
    <span class="text-red-800">
        {% if data.has_missing_users %}
            {% translate 'You can not import this as some user are missing' %}
        {% elif data.has_existing_member_subscriptions %}
            {% blocktranslate with name=subscription.name count=data.existing_member_subscriptions_count %}
                You can not import this as the subscription {{ name }} already has {{ count }} members.
            {% endblocktranslate %}
        {% endif %}
    </span>
{% endif %}