{% extends "base.html" %}
{% load static custom_filters i18n %}
{% block html_title  %}{% translate "Import member's subscription" %}{% endblock %}
{% block title  %}{% translate "Check for missing users" %}{% endblock %}

{% block content  %}
    <ul>
    {% for row in data %}
        <li>
            {{ row.expected_members|join:", " }}
            <ul>
                {% if row.expected_members|length != row.members|length %}
                    {% for name in row.missing_members %}
                        <span class="pl-5 text-red-900">{{ member.get_fullname }}</span>
                        <span class="inline-block mb-2 p-2 bg-blue-700 text-white">TODO Create {{ member.get_fullname }}</span>
                    {% endfor %}
                {% endif %}
                {% for member in row.members %}<li>
                    <span class="pl-5 text-green-900">{{ member.get_fullname }}</span>
                </li>{% endfor %}
            </ul>
        </li>
    {% endfor %}
    </ul>

    <span class="inline-block mb-2 p-2 bg-red-700 text-black">TODO: Next {{ ">>" }}</span>
{% endblock %}
